<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleSymbolName</key>
			<string>graduationcap</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>$(FOODLE_BUNDLE_PREFIX).action.open-in-moodle</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Open in Moodle</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>$(FOODLE_BUNDLE_PREFIX).action.copy-moodle-link</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Copy Moodle Link</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>$(FOODLE_BUNDLE_PREFIX).action.open-course-page</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Open Course Page</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>$(FOODLE_BUNDLE_PREFIX).action.keep-downloaded</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Keep Downloaded</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>$(FOODLE_BUNDLE_PREFIX).action.remove-download</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Remove Download</string>
			</dict>
		</array>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>$(APP_GROUP_IDENTIFIER)</string>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
	</dict>
</dict>
</plist>
